* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-border-gray: 1px solid #ccc;
    --container-box-shadow-gray: 0px 0px 15px #aaa;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
    background-color: #eee;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.container  {
    background-color: #fff;
    width: 50vw;
    min-width: 320px;
    max-width: 430px;
    margin: 0 auto;
    
    text-align: center;
    box-shadow: var(--container-box-shadow-gray);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.input-group {
    input {
        padding: 0.5rem;
        width: 100%;
        border-radius: 0.3rem;
        border: var(--input-border-gray);
        height: 2.5rem;

        &:focus {
            background-color: beige;
        }
    }
}


#reset-btn {
    width: 250px;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-family: inherit;
    background-color: green;
    border: var(--input-border-gray);
    color: #fff;

    margin-top: 1rem;
    
    &:hover {
        background-color: rgba(0, 128, 0, 0.8);
    }
}

#reset-msg {
    color: red;
    font-size: 0.8rem;
}

#login:hover {
    font-weight: bold;
}
